<h1>Welcome to Thebes, the Big Olive!</h1>
<hr>
<h3>I am a sphinx. My name is Linda.</h3>
<h4>In order to enter, you must answer my queries three.</h4>

<h6>My query the first...</h6>
<%= @riddle %>
<!-- <p>What's cooler than being cool?</p> -->

<form class="" action="index.html" method="post">
  <div class="form-group">
    <label for="answer1"></label>
    <input type="text" name="answer1" class="form-control">
  </div>
</form>
