<form action="/submit" method="post">
  <div class="form-group">
    <h6>My query the first...</h6>
    <p><%= @riddle1 %></p>
    <label for="answer1">Your one word answer: </label>
    <input type="text" name="answer1" class="form-control">
    <h6>My query the second...</h6>
    <p><%= @riddle2 %></p>
    <label for="answer2">Your one word answer: </label>
    <input type="text" name="answer2" class="form-control">
    <h6>My query the third...</h6>
    <p><%= @riddle3 %></p>
    <label for="answer3">Your one word answer: </label>
    <input type="text" name="answer3" class="form-control">
    <hr>
    <button type="submit" class="btn-primary">Will I eat you?</button>
  </div>
</form>
